.stats-title{
  text-align: center;
  color: #1e2d50;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.container-charts{
  margin: 20px;
  margin-top: 40px;
  text-align: justify;
  height: 80vh;
}

.card-chart-stat{
  margin: 10px;
  height: 35vh;
  background-color: #080b22;
  border-radius: 5px;
}

.stat-content{
  text-align: center;

  h3{
    font-size: 100%;
    color:white;
  }
  h4{
  font-size: 100%;
  color: white;
  }
}

.postit-icon{
  text-align: center;
  color: #FFFF99;
  font-size: 50px;
}

.emphaty-icon{
  text-align: center;
  color: #B1B1B1;
  font-size: 50px;
}

.prototype-icon{
  text-align: center;
  color: #B1B1B1;
  font-size: 50px;
}

.entrepreneur-icon{
  text-align: center;
  color: #B1B1B1;
  font-size: 50px;
}

.user-icon{
  text-align: center;
  color: #B1B1B1;
  font-size: 50px;
}

.code-icon{
  text-align: center;
  color: #B1B1B1;
  font-size: 50px;
}
