.head-clients{
  margin-left: 80px;
  font-size: 30px;
  padding: 10px;
  h1{
  margin-bottom: 10px;
  margin-up: 10px;
  font-size: 30px;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  color: #080b22;
  }
}

.client-back{
  height: 40vh;
  position: relative;
  margin-bottom: 10px;
}

#card-ibracem{
  top: 35%;
  left: 10%;
  position: absolute;
}

#card-c3{
  top: 30%;
  left: 35%;
  position: absolute;
}

#card-santuario{
  top: 25%;
  left: 7%;
  position: absolute;
}

#card-talkb4{
  top: 25%;
  left: 15%;
  position: absolute;
}

#card-abrasce{
  top: 10%;
  left: 25%;
  position: absolute;
}


