.container-company{
  align-items: center;
}

.company-title h1{
  align-items: center;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
  margin-up: 10px;
  font-weight: bold;
  color: #080b22;
}

.card-company-description{
  margin-bottom: 10px;
  p {
    text-align: justify;
    align-content: center;
    margin-bottom: 20px;
    color: #1E2D50;
  }
}


.company-page-picture{
  margin-bottom: 20px;
  background-size: cover !important;
  background-position: center;
  height: 70vh;
}








