.company-header{
  color: #080b22;
  margin-left: 50px;
}

.card-company-text{
  font-weight: normal;
  margin: 10px 150px 10px 122px;
  justify-text: center;
  text-align: justify;
  color: #1e2d50;
}

.card-company-picture{
  margin: 30px;
}

.company-image {
  color: white;
  text-align: center;
  height:75vh;
  width: 136vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
  margin-top: 30px;
}


