// .container{
//   height: 70vh;
//   border: 1px solid orange;
// }


.services-title{
  margin-left: 100px;
  margin-right: 100px;
  h1{
  margin-bottom: 10px;
  margin-up: 10px;
  font-size: 30px;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  color: #080b22;
  }
  p{
    color: #1E2D50;
  }

}

.card-service {
  height: 50vh;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  text-shadow: 5px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
  margin: 20px;
}

// .card-description h2 {
//   font-size: 40px;
// }
// .card-description p {
//   font-size: 16px;
//   opacity: 0.7;
//   font-weight: normal;
//   text-align: center;
//   background-color: rgba(0, 0, 0, 0)
// }




