body{
  background-color: #080b22;
  color: white;
  text-align: center;
}

.container{
  background-color: red;

.card{
  margin: 30px;
  height: 50vh;
  background-size: cover !important;
}

.card-content{
  background-color: red;
  align-content: center;
}



