.startup-head{
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px dotted black;
}

.row-services{
  border: 2px dotted red;
  margin: 50px;
}

.main-container{
  border: 1px solid red;
}

.text-container{
  border: 1px dashed purple;
}

.picture-container{
  border: 1px solid blue;
  margin-bottom: 30px;
  margin-left: 50px;
}
