
.startup-head{
  margin-top: 50px;
  margin-bottom: 50px;
  p{
    color: #1E2D50;
  }
}

.row-services{
  margin: 30px;
}

.text-container{
  height: 40%;
  margin-left: 20px;
  color: #080b22;
  text-justify: justify;
  h3{
    font-weight: bold;
  }
  p{
    margin-bottom: 20px;
    color: #1E2D50;
  }
}

.picture-container{
  margin-bottom: 30px;
  margin-left: 20px;
  height: 40%;
}

.startup-head{
  color: #080b22;
  h2{
  align-items: center;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-up: 10px;
  font-weight: bold;
  font-size: 35px;
  }
  p{
    font-weight: light;
    margin-left: 30px;
    margin-right: 15px;
  }
}

.service-page-picture{
  margin-bottom: 20px;
  background-size: cover !important;
  background-position: center;
  height: 70vh;
}

.iteracao-picture{
  margin-bottom: 20px;
  background-size: cover !important;
  background-position: center;
  height: 70vh;
}


