<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('assets/aurora.jpg');">
  <div class="banner-home-content">
    <h1>Desenvolvendo Negócios Inovadores</h1>
    <p>Desenhando as melhores experiências para seus clientes</p>
    <!-- <p>
      <span id="banner-typed-text"></span>
    </p> -->
    <!-- <p>Construa seu um MVP (Produto Mínimo Viável)</p>
    <p>Elaboração de uma estratégia de Crescimento Exponencial para seus negócios </p> -->
  </div>
</div>
