<div class="stats-title">
  <h2>Estatísticas da Northern</h2>
</div>

<div class="container-charts">
  <div class="row">

    <!-- card init -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
      <div class="card-chart-stat">
         <div class="postit-icon">
            <i class="fas fa-sticky-note"></i>
          </div>
          <div class="stat-content">
            <h3>Post Its Reciclados</h3>
            <h4>1.546</h4>
          </div>
      </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <!-- card end -->

    <!-- card init -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
      <div class="card-chart-stat">
         <div class="emphaty-icon">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="stat-content">
            <h3>Entrevistas de Empatia</h3>
            <h4>77h</h4>
          </div>
      </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <!-- card end -->

    <!-- card init -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
      <div class="card-chart-stat">
         <div class="prototype-icon">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <div class="stat-content">
            <h3>MVPs Construídos</h3>
            <h4>9</h4>
          </div>
      </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <!-- card end -->

    <!-- card init -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
      <div class="card-chart-stat">
         <div class="entrepreneur-icon">
            <i class="fas fa-rocket"></i>
          </div>
          <div class="stat-content">
            <h3>Empreendedores Impactados</h3>
            <h4>7</h4>
          </div>
      </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <!-- card end -->

    <!-- card init -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
      <div class="card-chart-stat">
         <div class="user-icon">
            <i class="fas fa-user"></i>
          </div>
          <div class="stat-content">
            <h3>Testes com Usuários</h3>
            <h4>12h</h4>
          </div>
      </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <!-- card end -->

    <!-- card init -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
      <div class="card-chart-stat">
         <div class="code-icon">
            <i class="fas fa-code"></i>
          </div>
          <div class="stat-content">
            <h3>Linhas de Códigos Digitadas</h3>
            <h4>31.153</h4>
          </div>
      </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <!-- card end -->




  </div>
</div>


