<h1>Algumas Estatísticas da Northern</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
          <div class="card-stat">
            <h3>Post Its Reciclados</h3>
            <h4>1.266</h4>
          </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
          <div class="card-stat">
            <h3>Tempo de Entrevistas com Usuários</h3>
            <h4>77h</h4>
          </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
          <div class="card-stat">
            <h3>MVP Contruídos</h3>
            <h4>9</h4>
          </div>
      <!-- fim <div class="card-stat"> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
          <div class="card-stat">
            <h3>Empreendedores Impactados</h3>
            <h4>7</h4>
          </div>
      <!-- fim <div class="card-stat"> -->
    </div>
     <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <!-- insert <div class="card1"> -->
          <div class="card-stat">
            <h3>Linhas de Código Digitadas</h3>
            <h4>31.153</h4>
          </div>
      <!-- fim <div class="card-stat"> -->
    </div>



  </div>
</div>
