<div class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="https://www.linkedin.com/company/northern360" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/northern_360/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/northern360/" target="_blank"><i class="fab fa-facebook"></i></a>
      <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
      <a href="https://github.com/netoconcon" target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto:contato@northern.com.br"><i class="far fa-envelope"></i></a>

    </div>
  </div>
</div>
