<div class="startup-head">
  <h2>Startups</h2>
  <p>Muitos empreendedores investem tempo e dinheiro no desenvolvimento de seus negócios sem antes saber se sua ideia possui um product/market fit validado, podendo assim estar condenando suas chances de sucesso.</p>
</div>

<div class="main-container">
  <div class="row-services"></div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-container">
        <h3>Validação e Design de Pacote de Valor e Modelo de Negócios</h3>
        <p>Através da abordagem do Design Thinking, buscamos a correta identificação das dores dos usuários e assim construirmos soluções desejadas</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="picture-container">
        <%= image_tag "startup.jpg", id:"partner-picture", style: "width:300px" %>
      </div>
    </div>
  </div>
  <div class="row-services">
    <div class="col-xs-12 col-sm-6">
      <div class="picture-container">
        <%= image_tag "startup.jpg", id:"partner-picture", style: "width:300px" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-container">
        <h3>Construção do MVP</h3>
        <p>Com base nas metodologias ágeis, construimos protótipos online e offline dos produtos, para teste reais com usuários, a fim de colhermos feedback e aumentarmos o conhecimento dos consumidores de maneira rápida e barata realizando as correções necessárias no produto de maneira constante.</p>
      </div>
    </div>

  </div>
</div>
