<div class="head-partners">
  <h1>Nosso Time</h1>
  <!-- <p>paragrafo importante</p> -->
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card1"> -->
        <div class="card-partner">
          <div class="partner-picture">
            <h2>Dani Glikmanas</h2>
          <%= image_tag "company.jpg", id:"partner-picture", style: "width:200px" %>
          </div>
          <div class="partner-social">
          <p><a href="https://www.linkedin.com/in/daniglikmanas/" target="_blank"><i class="fab fa-linkedin"></i></a></p>
          </div>
          <div class="card-partner-description">
            <p>Graduado em Administração de empresas (PUC-SP), com MBA em Finanças (INSPER-SP) e com formação em mediação de conflitos empresariais (Instituto Mediativa).</p>
            <p>Trabalhou por quinze anos no Banco Cidade nas áreas de tesouraria e comercial, sendo que nesta última, foi responsável por pela principal plataforma de negócios desta instituição. Com a venda desta instituição, atuou diretamente na renegociação de créditos e litígios, por ter sido um dos profissionais responsáveis pelos assuntos jurídicos oriundos desta venda.</p>
            <p>Em 2005, juntou-se ao conselho consultivo da empresa Hidrogesp, que atuava principalmente no desenvolvimento e implantação de projetos de BOT (built, operate & transfer) de fornecimento de água e tratamento de efluentes para empresas industriais, posteriormente sendo um dos responsáveis pela criação da empresa Latam Waters (Uniáguas).</p>
            <p>Em 2007, assumiu a diretoria financeira da Latour Capital, fundo privado que foi responsável por desenvolver e lançar no mercado de ações o fundo imobiliário Presidente Vargas.</p>
            <p>Em 2009, retornou para a Uniáguas como CEO, onde atuou até o final de 2015, na reorganização operacional e financeira da empresa, que atuava com operações de tratamento de águas e esgotos de cinco cidades localizadas no estado de São Paulo.</p>
            <p>Desde 2006, também tem atuado como diretor do Shopping Center 3, localizado na cidade de São Paulo.</p>
            <p>Em meados de 2018, foi convidado para ser Mentor na disciplina REP – Resolução Eficaz de Problemas, na graduação do INSPER – SP.Faz parte, desde meados de 2018, do Conselho da startup TalkB4.</p>
          </div>
        </div>
      <!-- fim <div class="card1"> -->
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card2"> -->
        <div class="card-partner">
          <div class="partner-picture">
            <h2>Admar Concon-Neto</h2>
            <%= image_tag "neto.jpg", id:"partner-picture", style: "width:200px" %>
          </div>
          <div class="partner-social">
            <p><a href="https://www.linkedin.com/in/netoconcon/" target="_blank"><i class="fab fa-linkedin"></i></a>  <a href="https://github.com/netoconcon" target="_blank"><i class="fab fa-github"></i></a></p>
          </div>
          <div class="card-partner-description">
            <p>Atuou como Financial Planning & Analysis (FP&A) na Latam Water do Brasil, onde ajudou na elaboração de métricas de gestão e também na valoração para venda estratégica. Também assessorou empresas do setor hospitalar com o reposicionamento estratégico durante o processo de Turnaround, valoração e negociação com potenciais investidores.</p>
            <p> É empreendedor no setor de eventos esportivos. Admar também é mentor de startups no Founder Institute e mentor do Programa de Resolução Eficaz de Problemas do Insper, participa do conselho de algumas startups, membro do Insper Angels e voluntário no Singularity University Chapter SP.</p>
            <p>É especialista em Design Thinking e Full Stack Web Developer</p>
            <p>Economista e administrador pelo Insper, por onde também é especialista em Valuation e é especialista em Turnaround e Recuperação Judicial pelo Turnaround Managment Association do Brasil</p>
          </div>
        </div>
      <!-- fim <div class="card2"> -->
    </div>

  </div>
</div>
