<div class="head">
  <h1>Quem Somos</h1>
  <p>paragrafo importante</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card1"> -->
        <div class="card-partner">
          <div class="partner-picture">
            <h2>Dani Glikmanas</h2>
          <%= image_tag "company.jpg", id:"partner-picture", style: "width:300px" %>
          </div>
          <div class="card-partner-description">
            <p>Graduado em Administração de empresas (PUC-SP), com MBA em Finanças (INSPER-SP), concentrando atualmente seus estudos na área de sistemas de soluções de conflitos Internos e externos das empresas, nos âmbitos comerciais, administrativos e societários. Trabalhou no Banco Cidade nas áreas de tesouraria e comercial, sendo que nesta última, foi responsável por pela principal plataforma de negócios desta instituição. Com a venda desta instituição ao Banco Bradesco, atuou diretamente na renegociação de créditos e litígios, adquirindo grande conhecimento jurídico e negocial, principalmente no que tange a estratégia de solução de conflitos.</p>
            <p>Em 2005, juntou-se ao conselho consultivo da empresa Hidrogesp, que atuava principalmente no desenvolvimento e implantação de projetos de BOT (built, operate & transfer) de fornecimento de água e tratamento de efluentes para empresas industriais, posteriormente sendo um dos responsáveis pela criação da empresa Latam Waters (Uniáguas). Em 2009, , foi convidado para, como CEO, reestruturar a Uniáguas, E prepará-la para o crescimento. Também em 2006, foi indicado para assumir o cargo de Diretor do Shopping Center 3. Em 2007, foi convidado para assumir a posição de Diretor Financeiro da Latour Capital, parceria que teve como destaque o retrofit de dois ativos imobiliários no centro da cidade do Rio de Janeiro, que após concluídos e alugados, deu origem ao IPO (Oferta Pública Inicial) do Fundo Imobiliário Presidente Vargas (PRSV11).</p>
          </div>
        </div>
      <!-- fim <div class="card1"> -->
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card2"> -->
        <div class="card-partner">
          <div class="picture">
            <h2>Admar Concon-Neto</h2>
            <%= image_tag "company.jpg", id:"partner-picture", style: "width:300px" %>
          </div>
          <div class="card-partner-description">
            <p>Atuou como Financial Planning & Analysis (FP&A) na Latam Water do Brasil, onde ajudou na elaboração de métricas de gestão e também na valoração para venda estratégica. Também assessorou empresas do setor hospitalar com o reposicionamento estratégico durante o processo de Turnaround, valoração e negociação com potenciais investidores.</p>
            <p> É empreendedor no setor de eventos esportivos. Admar também é mentor de startups no Founder Institute e mentor do Programa de Resolução Eficaz de Problemas do Insper, participa do conselho de algumas startups, membro do Insper Angels e voluntário no Singularity University Chapter SP.</p>
            <p>É especialista em Design Thinking e Full Stack Web Developer</p>
            <p>Economista e administrador pelo Insper, por onde também é especialista em Valuation e é especialista em Turnaround e Recuperação Judicial pelo Turnaround Managment Association do Brasil</p>
          </div>
        </div>
      <!-- fim <div class="card2"> -->
    </div>

  </div>
</div>
