<div class="head">
  <h1>Quem Somos</h1>
  <p>paragrafo importante</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card1"> -->
        <div class="card-partner">
          <div class="partner-picture">
          <img src="startup.jpg'" id="partner" alt="partner">
          </div>
          <div class="card-partner-description">
            <h2>Dani Glikmanas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem saepe obcaecati eum nam, aliquam laboriosam quisquam eos, mollitia doloremque recusandae excepturi alias temporibus harum veniam unde fuga ullam earum, laudantium.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem saepe obcaecati eum nam, aliquam laboriosam quisquam eos, mollitia doloremque recusandae excepturi alias temporibus harum veniam unde fuga ullam earum, laudantium.</p>
          </div>
        </div>
      <!-- fim <div class="card1"> -->
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card2"> -->
        <div class="card-partner">
          <div class="picture">
          <img src="startup.jpg'" id="partner" alt="partner">
          </div>
          <div class="card-partner-description">
            <h2>Admar Concon-Neto</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem saepe obcaecati eum nam, aliquam laboriosam quisquam eos, mollitia doloremque recusandae excepturi alias temporibus harum veniam unde fuga ullam earum, laudantium.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem saepe obcaecati eum nam, aliquam laboriosam quisquam eos, mollitia doloremque recusandae excepturi alias temporibus harum veniam unde fuga ullam earum, laudantium.</p>
          </div>
        </div>
      <!-- fim <div class="card2"> -->
    </div>

  </div>
</div>
