<h1>Metodologias</h1>

<h3>Design Thinking</h3>

<p>explicação com infográficos de DT</p>

<h3>Lean Startup</h3>

<p>explicação com infográficos de lean</p>

<h3>ExO</h3>

<p>explicação com infográficos de ExO</p>
