<div class="head">
  <h1>A Northern</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2">
    </div>

    <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
      <!-- insert <div class="card1"> -->
          <div class="card-company-description">
            <p>A Northern é uma boutique de inovação especializada no desenvolvimento de negócios. Entendemos por inovação a possibilidade de explorar novas receitas ou reduções nos custos antes não existentes, para isso, utilizamos metodologias ágeis, que podem ser usada tanto por startups quanto por grandes corporações.</p>
          </div>
      <!-- fim <div class="card1"> -->
    </div>
    <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-xs-4-offset-4">
      <div class="company-picture">
      <%= image_tag "company.jpg", id:"company-page-picture" %>
      </div>
    </div>
  </div>
</div>






