<div class="container-company">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="company-title">
        <h1>A Northern</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <!-- insert <div class="card1"> -->
          <div class="card-company-description">
            <p>A Northern é uma boutique de inovação especializada no desenvolvimento de negócios.</p>
            <p>Entendemos por inovação a possibilidade de explorar novas receitas ou reduções nos custos antes não existentes, para isso, utilizamos metodologias ágeis, que podem ser usada tanto por startups quanto por grandes corporações.</p>
          </div>
      <!-- fim <div class="card1"> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="company-picture">
      <%= image_tag "company.jpg", id:"company-page-picture" %>
      </div>
    </div>
  </div>
</div>






