<div class="company-header">
  <h1>A Northern</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="card-company-text">
          <p>A Northern é uma boutique de inovação especializada no desenvolvimento de negócios. Entendemos por inovação a possibilidade de explorar uma nova receita ou uma redução de custos não vista antes, para isso, utilizamos metodologias ágeis que podem ser usada tanto por startups quanto por grandes corporações, uma vez que o foco principal está na investigação das dores reais do usuário final.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="company-image" style="background-image: url('assets/company.jpg');">
        </div>
    </div>

  </div>
</div>
