<div class="services-title">
  <h1>Nossos Serviços</h1>
  <p>Soluções customizadas, sempre através de metodologias ágeis e maior contato com o usuário final</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card1"> -->
        <div class="card-service" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('assets/startup.jpg');">
          <div class="card-description">
            <h2>Startups</h2>
            <p>Valide sua ideia de maneira ágil e eficiente</p>
          <a href="#startup" class="btn btn-primary btn-sm">Saiba Mais</a>
          </div>
        </div>
      <!-- fim <div class="card1"> -->
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card2"> -->
        <div class="card-service" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('assets/chart.jpg');">
          <div class="card-description">
            <h2>Corporate</h2>
            <p>Crie um ambiente inovador</p>
            <a class="btn btn-primary btn-sm">Saiba Mais</a>
          </div>
        </div>
      <!-- fim <div class="card2"> -->
    </div>
  </div>


<%= render 'shared/startup' %>


    <!-- <div class="col-xs-12 col-sm-12">
      <div class="corporate-services">
        <h2>Corporate</h2>
        <p>Mesmo empresas consolidadas sabem que investir em inovação é fundamental para sua sobrevivência. Porém, a cultura organizacional tradicional é uma grande barreira e pode comprometer a capacidade da empresa se manter competitiva através da inovação.</p>
        <h3>Implementação de Metodologias Ágeis e Cultura de Inovação</h3>
        <p>Introdução de metodologias capazes de favorecer a inovação através da co-criação, desenvolvimento ágil e reaproximação da empresa de seus clientes</p>
        <p>Desmitificação da inovação como algo para poucos ou sem metodologia</p>
        <p>Criação de métricas para mensurar os resultados da inovação de maneira correta</p>
        <h3>Desenvolvimento de Novos Produtos ou Modelos de Negócios</h3>
        <p></p>
      </div>
    </div>
  </div>
 -->




</div>


