<h1>Nossos Serviços</h1>

<p>paragrafo importante</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card1"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('assets/startup.jpg');">
          <div class="card-description">
            <h2>Startups</h2>
            <p>Valide sua ideia de maneira ágil e eficiente</p>
          <a class="btn btn-primary btn-sm">Saiba Mais</a>
          </div>
        </div>
      <!-- fim <div class="card1"> -->
    </div>
    <div class="col-xs-12 col-sm-6">
      <!-- insert <div class="card2"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('assets/chart.jpg');">
          <div class="card-description">
            <h2>Corporate</h2>
            <p>Crie um ambiente inovador</p>
            <a class="btn btn-primary btn-sm">Saiba Mais</a>
          </div>

        </div>
      <!-- fim <div class="card2"> -->
    </div>

  </div>
</div>


<h2>Startups</h2>
<h2>Corporate</h2>
