.btn-northern {
  background-color: #1e2d50;
  color: #00b99b;
  border-radius: 5px;
  height: 25px;
  font-size: 20px;
  padding: 10px 10px;
  margin: 30px 10px;
  font-weight: light;
  text-decoration: none;
}

.btn-northern:hover {
  background-color: #00b99b;
  color: #1e2d50;
  border-radius: 20px;
  font-size: 30px;
  padding: 20px 40px;
  margin: 30px 10px;
  font-weight: bold;
  text-decoration: none;
}
